/* Board list elements */
ul > li {
  display: block;
  position: relative;
  float: left;
  width: 185px;
  height: 85px;
  margin: 5px;
  padding: 7px 5px;
  cursor: pointer;
  background-color: grey;
}

ul > li:hover {
  background-color: green;
}

#new-board-container {
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  /*background-color: #fff;*/
}

#new-board-upper-part {
  height: 70px;
  padding: 9px 0 0 7px; /* top, right, bottom, left */
  background-color: #777;
}

#new-board-lower-part {
  padding: 6px 0; /* top&bottom, left/right */
}