* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #3E463C;
  opacity:0;
}


header {
    padding-top: 1.5rem;
    padding-left: 2.85rem;
}

img{
  height: 4srem;
  width: 10rem;
}

/* Board list elements */
ul > li {
  display: inline;
  position: relative;
  float: left;
  width: 185px;
  height: 85px;
  margin: 5px;
  cursor: pointer;
  background-color: #88b360;
  text-align: center;
  padding-top: 33px;
}

ul > li:hover {
  background-color: #A9D97D;
}

#new-board-container {
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
}

#new-board-upper-part {
  height: 70px;
  padding: 9px 0 0 7px; /* top, right, bottom, left */
  background-color: #777;
}

#new-board-lower-part {
  padding: 6px 0; /* top&bottom, left/right */
}

#login-a {
  margin: 3em;
  padding: 5px 10px;
  position: relative;
  top: 1.2em;
  text-decoration: none;
  color: #000;
  border: 2px solid #FFF;
  border-radius: 5px;
}

#login-a:hover {
  border: 1px solid #e03736;
}


.changeBackgroundColor {
  animation: loadBackground 3s both;
}


/* Creating animations to use when the page is loading */
@keyframes loadBackground{
  0% {
    background-color: #3E463C;
    opacity: 0;
    }
  25% {
    opacity: 0;
  }

  50% {
    background-color: #D3E8C2;
    }
   
   100% {
     background-color: #D3E8C2;
     opacity:1;
   }
}