/* Styles that are used across multiple html files */

/* Rounded corners */
.rounded {
  border-radius: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.transparent {
  opacity: 0.7;
  background-color: #000;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.selectable:hover {
  cursor: pointer;
  background-color: #d3e8c2; /* #e2e4e9; */
}

/* Center align text */
.centered {
  text-align: center; /* horizontal */
  display: table-cell;
  width: 185px;
  height: 85px;
}

/* Used to stop floating */
.clear {
  float: none;
  clear: both;
}


/* Logout properties */
.logout-container {
  position: absolute;
  right:10px;
  top:10px;

}

.logout-container img {
  position: relative;
  width:30px;
}

/*Setting position to 30px from top in case
user is using phones that cover top part of app (ex Iphone 8 ->)*/
@media only screen and (max-width: 600px) {
  .logout-container {
      top:30px;
    }
  }