* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #D3E8C2;
}

/* Header  */
header {
    padding-top: 1.5rem;
    padding-left: 2.85rem;
}

.main-title {
    margin: 0;
    padding-bottom: 1.5rem;
}

/* Navigation */
.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}


.main-nav li {
    display: inline-block;
    padding: .2em .2em 2rem;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    border: 1px solid #A9D97D;
    border-radius: 5px;
    padding: .5em 2.25rem;
}

.main-nav li a:hover, .main-nav li a:target{
    background-color:#A9D97D;
}

/* Grid for to do boards */
.main-boards #main-container {
    margin-left: 2em;;
    max-width 70em;
    width: 90%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 315px) );
    height: 80vh;
    float: left;
}

.main-grids #main-container div{
    height: 15rem;
    margin-top: 1.5rem;
}

.box {
    background-color: #A9D97D;
    margin: .9em;
    border-radius: 10px;
    
}
.textbox {
    color: #557440;
    font-size: 20px;
    text-align: center;
}




/* Tasks in the different boards */
.main-boards-tasks {
    width: 90%;
    height: 3em;
    margin: auto;
    margin-bottom: 10px;
}

.color {
     background-color: skyblue;
}



/* The title of the tasks */
.main-boards-tasks p {
    padding-top: .99em;
    font-weight: 800;
    position: relative;
}




/* Arrow to send to the next block */
.main-boards-tasks-arrow {
    position: relative;
    bottom: 2em;
    left: 14.3rem;
    width: 22px;
    height: 20px;
}

.arrow {
    border: solid #000000;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 5px;
    text-align: center;
}

.right {
    transform: rotate(-45deg);
}

.main-boards-tasks-arrow:hover .arrow, .main-boards-tasks-arrow:target .arrow {
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
}

/* Adding new tasks */
.main-boards-add-task-btn {
    background-color: blue;
    padding-left: 2em;
    cursor: pointer;
}


/* Container for both the textarea to input the tasks and the button */
.main-boards-tasks-txt {
    display:none;
    width:100%;
    height:5.1em;
    margin:.91em;
    width:90%;
    background-color: lightgrey;

}

.main-boards-tasks-txt textarea {
    position:relative;
    height: 5rem;
    width:100%;
    font-size: 14px;
    background-color: skyblue;
    resize:none;
    outline: none;
    border-radius: 5px;
    border:0;
    padding: 10px;
}

.main-boards-tasks-txt input {
    width:7rem;
    height: 2rem;
    font-size: 14px;
    font-weight:700;
    cursor: pointer;
}

/*
 * === Task properties window ===
 */
#tp-overlay {
}
#tp-frame {
  margin: 0 5px;
}

/* Main grid container. */
#tp-container {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 760px) 1fr;
  grid-template-rows: 30px 600px 100%;
  grid-template-areas: 
    "air-top  air-top air-top"
    "air-left win     air-right"
    "air-bot  air-bot air-bot";
}

/* Defined in order to capture onclick (to hide task properties) */
#tp-air-top   {grid-area: air-top;  }
#tp-air-left  {grid-area: air-left; }
#tp-air-right {grid-area: air-right;}
#tp-air-bot   {grid-area: air-bot;  }

/* Sub grid container (desktop view) */
#tp-win {
  grid-area: win;
  display: grid;
  padding: calc(1vw);
  grid-template-columns: 24px minmax(200px, auto) 210px;
  grid-template-rows: 20px 18px 18px 40px 20px 70px 60px;
  grid-template-areas:
    "title-icon title     title"
    ".          title-sub ."
    ".          mem-title menu"
    ".          mem-list  menu"
    "desc-icon desc-title menu"
    "        . desc-input menu"
    "        .          . menu";
  column-gap: calc(1vw * 1.5);
  row-gap: calc(1vw * 1.5);
  background-color: #f4f5f7;
}

/* Sub grid container (mobile view) */
@media screen and (max-width: 550px) {
  #tp-win {
    padding: 2px;
    grid-template-columns: 24px 1fr 1fr;
    grid-template-rows: 20px 18px 18px 40px 20px 70px;
    grid-template-areas:
      "title-icon title      title"
      "title-sub  title-sub  title-sub"
      "mem-title  mem-title  mem-title"
      "mem-list   mem-list   mem-list"
      "desc-icon  desc-title desc-title"
      "desc-input desc-input desc-input"
      "menu       menu       menu";
    column-gap: 2px;
    row-gap: 7px;
  }
}

#tp-title-icon {
  grid-area: title-icon;
  background-color: lightgrey;
}
#tp-title {
  grid-area: title;
  background-color: lightgrey;
}
#tp-title-sub {
  grid-area: title-sub;
  background-color: lightgrey;
}
#tp-mem-title {
  grid-area: mem-title;
  background-color: lightgrey;
}
#tp-mem-list {
  grid-area: mem-list;
  background-color: lightgrey;
}
#tp-menu {
  grid-area: menu;
  background-color: lightgrey;
}
#tp-desc-icon {
  grid-area: desc-icon;
  background-color: lightgrey;
}
#tp-desc-title {
  grid-area: desc-title;
  background-color:  lightgrey;
}
#tp-desc-input {
  grid-area: desc-input;
  background-color: lightgrey;
}