* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #D3E8C2;
}

header {
    padding-top: 1.5rem;
    padding-left: 2.85rem;
}

.main-title {
    margin: 0;
    padding-bottom: 1.5rem;
}

.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}


.main-nav li {
    display: inline-block;
    padding: .2em 2rem 2rem;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    border: 1px solid #A9D97D;
    border-radius: 5px;
    padding: .5em 2.25rem;
}

.main-nav li a:hover, .main-nav li a:target{
    background-color:#A9D97D;
}

.main-boards .main-container {
    margin-left: 2em;;
    max-width 70em;
    width: 90%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 315px) );
    height: 80vh;
    float: left;
}

.main-grids .main-container div{
    height: 15rem;
    margin-top: 1.5rem;
}

.box {
    background-color: #A9D97D;
    margin: .9em;
    border-radius: 10px;
    
}
p {
    color: #557440;
    font-size: 20px;
    text-align: center;
    
}


