* {
    background-color: #3E463C;
    text-align: center;
}



#logo{
 width: 15rem;
 height: 15rem;
}

#logotext{
 width: 17rem;
 height: 4rem;
}

.name{
 color: #8C9989;
 margin-top: .6rem;
}

.input placeholder{
   color: #8C9989;
   margin-top: .2rem; 
   border: 2px solid black;
   border-radius: 2px;
}

.button input{
    color: #8C9989;
}

.button{
    margin-top: .6rem;
  
}

.feedback{
    margin-top: .4rem;
}

