* {
    background-color: #3E463C;
    text-align: center;
}



#logo{
 width: 15rem;
 height: 15rem;
}

#logotext{
 width: 17rem;
 height: 3.3rem;
}

.name{
 color: #8C9989;
 margin-top: .6rem;
}

.input{
   color: #8C9989;
   margin-top: .2rem; 

}

.button input:hover{
    background-color: beige;
}

.button input{
    color: #8C9989;
    border: 2px solid #8C9989;
    border-radius: 10px;
}

.button{
    margin-top: .6rem;
  
}

.feedback{
    margin-top: .4rem;
}

