* {
    text-align: center;
}

body {
        background-color: #3E463C;
}

@media only screen and (max-width: 600px) {
    body  {
       padding-top: 2.4em;
  }
}

#logo{
 width: 15rem;
 height: auto;
}

@media only screen and (max-width: 600px) {
  #logo {
    width: 10rem;
  }
}

#logotext{
 
 width: 17rem;
 height: 3.3rem;
}

.name{
    
 
 color: #8C9989;
 margin-top: .6rem;
    
}

.input placeholder{
    
   color: #8C9989;
   margin-top: .2rem; 

}

.button input:hover{
    background-color: beige;
}

.button input{
    
    color: #8C9989;
    border: 2px solid #8C9989;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .button input  {
       padding: 9px 20px;
       margin-bottom: 10px;
  }
}

.button{

    margin-top: .6rem;
  
}

.feedback{
    color: #FFF;
    margin-top: .4rem;
}

.feedback-color {
  color: #FFF;
}

.sign-in-btn {
    outline: 0;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

@media only screen and (max-width: 600px) {
    .sign-in-btn  {
       padding: 9px;
       margin: 10px;
  }
}

.loginOpacityAnimation {
    animation: fadeoutForm 1s both .5s;
}

.loginFadeOutLogo {
    animation: fadeoutForm 1s both 1.5s;
}


/* Animation for loging in and going to the next page */
@keyframes fadeoutForm {
    from {opacity: 1;}
    to {opacity: 0;}
}
